{{ define "main" }}
<div class="container">
  <div class="row">
    <div class="col-lg-1 col-lg-offset-0 col-md-1 col-md-offset-1">
      <article role="main" class="container">
        {{ .Content }}
      </article>

      {{ if (.Params.comments) | or (and (or (not (isset .Params "comments")) (eq .Params.comments nil)) (.Site.Params.comments)) }}
        {{ if .Site.DisqusShortname }}
          <div class="disqus-comments">
            {{ template "_internal/disqus.html" . }}
          </div>
        {{ end }}
      {{ end }}

    </div>
  </div>
</div>
{{ end }}
